<section>
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">

                    <table class="table">
                        <tr>
                            <th (click)="sortData('name')">Name </th>
                            <th>Description</th>
                            <th (click)="sortData('status')">Status </th>
                            <th (click)="sortData('priority')">Priority </th>
                            <th></th>
                        </tr>
                        <tr *ngFor="let data of dataset; let i = index">
                            <td>{{data.name}}</td>
                            <td>{{data.description}}</td>
                            <td>{{status(data.status)}}</td>
                            <td>{{priority(data.priority)}}</td>
                            <td>
                                <a href="javascript:;" class="btn btn-success btn-sm" (click)="onSelect(data)">View Details</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>